.container{
   display: flex;
   width: 100%;
}

/* SIDE BAR */
.side_bar{
    float: left;
    width: 30%;
    height: auto;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.picture img{
    width: 50%;
}

.info{
    color: #424242;
    font-size: 4.5vw;
    background-color: #E0E0E0;
    text-align: center;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
  }

.side_bar ul{
    list-style-type: circle;
    color: #E0E0E0;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 2.5vw;
}

.side_bar li{
    padding-bottom: 10px;
    list-style: none;
}

.sidebartitle{
    text-decoration: underline;
    padding-bottom: 15px;
}

.sidebarinfo{
    font-size: 1.75vw;
    word-wrap: break-word;

}

.interets{
    color: #424242;
    font-size: 4vw;
    background-color: #E0E0E0;
    text-align: center;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
  }

.sidebarint{
    font-size: 1.75vw;

}

.fas{
    padding-right: 5%;
}

.container_int{
    padding-bottom: 5%;
}

/* CONTENU */
.contenu{
    float: right;
    width: 70%;
    background-color: #E0E0E0;
    height: auto;
}



.tete{
    padding-top: 50px;
    padding-left: 5%;
    color: #424242;
}

.black_divider_name{
    float: right;
    width: 95%;
    height: 2px;
    background: #424242;
    margin: 0 auto 10px;
  }

.name{
    font-size: 5vw;
    font-family: 'Alfa Slab One', cursive;
}


.projet{
    font-size: 2.5vw;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
}

.black_divider{
    float: right;
    width: 90%;
    height: 2px;
    background: #424242;
  }

  .exp{
    padding-left: 10%;
    color: #424242;
    font-size: 4vw;
    margin-top: 150px;
    font-family: 'Anton', sans-serif;
  }

.formation{
    padding-left: 10%;
    color: #424242;
    font-size: 4vw;
    margin-top: 150px;
    font-family: 'Anton', sans-serif;
  }


.comp{
    padding-left: 10%;
    color: #424242;
    font-size: 4vw;
    margin-top: 150px;
    font-family: 'Anton', sans-serif;
  }


.date{
    float: left;
    padding-left: 10%;
    color: #424242;
}

.an{
    font-size: 1.5vw;
}

.ville{
    font-style: italic;
    font-size: 1.25vw;
}

.tache{
    font-size: 1.5vw;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 20px;
    padding-left: 5% ;
    color: #424242;
}

.container_comp{
    padding-left: 10%;
    color: #424242;
    font-size: 1vw;
    margin-top: 20px;
}

.block_comp{
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 50px;
    font-size: 1.2vw;
    text-align: center;
    color: black;
}


@media screen and (max-device-width: 425px) {
    .container{
        display: flex;
        width: 100%;
     }
     
     /* SIDE BAR */
     .side_bar{
         float: left;
         width: 30%;
         height: auto;
         background-color: #424242;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .picture{
         margin-top: 10px;
         text-align: center;
         padding-bottom: 20px;
     }
     
     .picture img{
         width: 50%;
     }
     
     .info{
         color: #424242;
         font-size: 4.5vw;
         background-color: #E0E0E0;
         text-align: center;
         text-decoration: underline;
         font-family: 'Anton', sans-serif;
       }
     
     .side_bar ul{
         list-style-type: circle;
         color: #E0E0E0;
         padding-left: 10%;
         padding-right: 5%;
         font-size: 2.5vw;
     }
     
     .side_bar li{
         padding-bottom: 10px;
         list-style: none;
     }
     
     .sidebartitle{
         text-decoration: underline;
         font-size: 3.5vw;
         padding-bottom: 5px ;
     }
     
     .sidebarinfo{
         font-size: 2.5vw;
         padding-bottom: 15px ;
         word-wrap: break-word;
     }
     
     .interets{
         color: #424242;
         font-size: 4vw;
         background-color: #E0E0E0;
         text-align: center;
         text-decoration: underline;
         font-family: 'Anton', sans-serif;
       }
     
     .sidebarint{
         font-size: 2.5vw;
     }
     
     .fas{
         padding-right: 5%;
     }
     
     .container_int{
         padding-bottom: 5%;
     }
     
     /* CONTENU */
     .contenu{
        float: right;
        width: 70%;
        background-color: #E0E0E0;
        height: auto;
    }
    
    .tete{
        padding-top: 50px;
        padding-left: 5%;
        color: #424242;
    }
    
    .black_divider_name{
        float: right;
        width: 95%;
        height: 2px;
        background: #424242;
        margin: 0 auto 10px;
      }
    
    .name{
        font-size: 5vw;
        font-family: 'Alfa Slab One', cursive;
    }
    
    
    .projet{
        font-size: 2.5vw;
        font-family: 'Alfa Slab One', cursive;
        font-style: italic;
    }
    
    .black_divider{
        float: right;
        width: 90%;
        height: 2px;
        background: #424242;
        margin: 0 auto 10px;
      }
    
      .exp{
        padding-left: 10%;
        color: #424242;
        font-size: 4vw;
        margin-top: 150px;
        font-family: 'Anton', sans-serif;
      }
    
    .formation{
        padding-left: 10%;
        color: #424242;
        font-size: 4vw;
        margin-top: 150px;
        font-family: 'Anton', sans-serif;
      }
    
    
    .comp{
        padding-left: 10%;
        color: #424242;
        font-size: 4vw;
        margin-top: 150px;
        font-family: 'Anton', sans-serif;
      }
     
     .date{
         float: left;
         padding-left: 10%;
         color: #424242;
     }
     
     .an{
         font-size: 3vw;
     }
     
     .ville{
         font-style: italic;
         font-size: 2.75vw;
     }
     
     .tache{
         font-size: 1.5vw;
         margin-left: 55%;
         padding-left: 2.5%;
         margin-right: 2.5%;
         margin-top: 20px;
         padding-left: 5% ;
         color: #424242;
     }
     
     .container_comp{
         padding-left: 10%;
         color: #424242;
         font-size: 1vw;
         margin-top: 20px;
     }
     
     .block_comp{
         display: inline-block;
         margin-right: 5%;
         margin-bottom: 50px;
         font-size: 2.1vw;
         text-align: center;
         color: black;
     }        
}
