@media (min-width: 961px){
.container{
   display: flex;
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}

/* SIDE BAR */
.side_bar{
    float: left;
    width: 30%;
    height: auto;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.picture img{
    width: 50%;
    border-radius: 50%;
}

.info{
    color: #424242;
    font-size: 4vw;
    background-color: #E0E0E0;
    text-align: center;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
  }

.side_bar ul{
    list-style-type: circle;
    color: #E0E0E0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2vw;
}

.side_bar li{
    list-style: none;
}

.sidebartitle{
    text-decoration: underline;
    padding-bottom: 15px;
}

.sidebarinfo{
    font-size: 1.5vw;
    word-wrap: break-word;
    padding-bottom: 15px;
    
}

.sidebarpropos
{
    font-size: 1.5vw;
    word-wrap: break-word;
    padding-bottom: 15px;
    color: #E0E0E0;
    padding-left: 5%;
    padding-right: 5%;
}

.interets{
    color: #424242;
    font-size: 4vw;
    background-color: #E0E0E0;
    text-align: center;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
  }

.sidebarint{
    font-size: 1.5vw;

}

.fas{
    padding-right: 5%;
}

.container_int li{
    padding-bottom: 15px;
}


/* CONTENU */
.contenu{
    float: right;
    width: 70%;
    background-color: #E0E0E0;
    height: auto;
}



.tete{
    padding-top: 50px;
    padding-left: 5%;
    color: #424242;
}

.black_divider_name{
    float: right;
    width: 95%;
    height: 2px;
    background: #424242;
    margin: 0 auto 10px;
  }

.name{
    font-size: 4.5vw;
    font-family: 'Alfa Slab One', cursive;
}


.projet{
    font-size: 2vw;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
}

.black_divider{
    float: right;
    width: 90%;
    height: 2px;
    background: #424242;
  }

  .exp{
    padding-left: 10%;
    color: #424242;
    font-size: 3.5vw;
    margin-top: 70px;
    font-family: 'Anton', sans-serif;
  }

.formation{
    padding-left: 10%;
    color: #424242;
    font-size: 3.5vw;
    margin-top: 70px;
    font-family: 'Anton', sans-serif;
  }


.comp{
    padding-left: 10%;
    color: #424242;
    font-size: 3.5vw;
    margin-top: 70px;
    font-family: 'Anton', sans-serif;
  }

.recom{
    padding-left: 10%;
    color: #424242;
    font-size: 3.5vw;
    margin-top: 70px;
    font-family: 'Anton', sans-serif;
  }


.date{
    float: left;
    padding-left: 10%;
    color: #424242;
}

.an{
    font-size: 1.25vw;
}

.ville{
    font-style: italic;
    font-size: 1vw;
}

.tache{
    font-size: 1.25vw;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 20px;
    padding-left: 5% ;
    color: #424242;
}

.container_comp{
    padding-left: 10%;
    color: #424242;
    font-size: 1vw;
    margin-top: 20px;
}

.block_comp{
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 50px;
    font-size: 1vw;
    text-align: center;
    color: black;
}

.persreco{
    margin-right: 5%;   
    margin-top: 20px;
    padding-bottom: 70px;
    font-size: 1.25vw;
    text-align: center;
    color: black;
}

.persreco_1{
    float: left;
    padding-left: 10%;
}

.persreco_2{
    float: right;
    padding-right: 10%;
}

}

@media (max-width: 960px) {
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
     }

     .fas{
        padding-right: 15px;
        vertical-align: middle;
    }
     
     /* SIDE BAR */
     .side_bar{
         width: 100%;
         height: auto;
         background-color: #424242;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .picture{
         margin-top: 10px;
         text-align: center;
         padding-bottom: 20px;
     }
     
     .picture img{
         width: 50%;
         border-radius: 50%;
     }
     
     .info{
         color: #424242;
         font-size: 4.5vw;
         background-color: #E0E0E0;
         text-align: center;
         text-decoration: underline;
         font-family: 'Anton', sans-serif;
       }
     
     .side_bar ul{
         list-style-type: circle;
         color: #E0E0E0;
         padding-left: 5%;
         padding-right: 5%;
     }
     
     .side_bar li{
         list-style: none;
     }
     
     .sidebartitle{
         text-decoration: underline;
         font-size: 4.5vw;
         padding-bottom: 5px ;
     }
     
     .sidebarinfo{
         font-size: 3.5vw;
         padding-bottom: 15px ;
         word-wrap: break-word;
     }

     .sidebarpropos{
        font-size: 3.5vw;
        word-wrap: break-word;
        padding-bottom: 15px;
        color: #E0E0E0;
        padding-left: 5%;
        padding-right: 5%;
    }
     
     .interets{
         color: #424242;
         font-size: 4vw;
         background-color: #E0E0E0;
         text-align: center;
         text-decoration: underline;
         font-family: 'Anton', sans-serif;
       }
     
     .sidebarint{
         visibility: hidden;
         font-size: 0px;
     }

     .container_int{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
     }

     .container_int .fas{
        font-size: 10vw;
     }
     
     /* CONTENU */
     .contenu{
        width: 100%;
        background-color: #E0E0E0;
    }
    
    .tete{
        padding-top: 50px;
        padding-left: 5%;
        color: #424242;
    }
    
    .black_divider_name{
        margin: auto;
        width: 90%;
        height: 2px;
        background: #424242;
      }
    
    .name{
        font-size: 5vw;
        font-family: 'Alfa Slab One', cursive;
    }
    
    
    .projet{
        font-size: 2.5vw;
        font-family: 'Alfa Slab One', cursive;
        font-style: italic;
    }
    
    .black_divider{
        width: 80%;
        height: 2px;
        background: #424242;
        margin: auto ;
        margin-bottom: 15px;
      }
    
      .exp{
        color: #424242;
        font-size: 4vw;
        font-family: 'Anton', sans-serif;
      }
    
    .formation{
        color: #424242;
        font-size: 4vw;
        font-family: 'Anton', sans-serif;
      }
    
    
    .comp{
        color: #424242;
        font-size: 4vw;
        font-family: 'Anton', sans-serif;
      }

    .recom{
        padding-left: 10%;
        color: #424242;
        font-family: 'Anton', sans-serif;
    }
     
      .blocksection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

     .date{
         color: #424242;
     }
     
     .an{
         font-size: 3vw;
     }
     
     .ville{
         font-style: italic;
         font-size: 2.75vw;
         padding-bottom: 30px;
     }
     
     .tache{
         font-size: 3vw;
         color: #424242;
         padding-bottom: 50px;
         padding-left: 5%;
         padding-right: 5%;
     }

     .container_comp{
         color: #424242;
         text-align: center;
     }
     
     .block_comp{
         display: inline-block;
         margin-right: 5%;
         margin-bottom: 50px;
         font-size: 3vw;
         text-align: center;
         color: #424242;
     } 
     
     .persreco{
        margin-right: 5%;   
        margin-top: 20px;
        padding-bottom: 70px;
        font-size: 3vw;
        text-align: center;
        color: #424242;
    }
    
    .persreco_1{
        float: left;
        padding-left: 10%;
    }
    
    .persreco_2{
        float: right;
        padding-right: 10%;
    }
    
     

}
