@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --jaune:#ffca04;
    --grisFonce:#404040;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--grisFonce);
    background-color: #fafafa;
}

ul.container_int i {
    border: 1px solid var(--grisFonce);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding:0;
}

section.blockint ul {
    padding-inline-start: 0;
}

.contenu i {
    color: var(--jaune);
}

@media (min-width: 961px){
.container{
   display: flex;
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}

/* SIDE BAR */
.side_bar{
    float: left;
    width: 30%;
    height: auto;
    background-color: var(--jaune);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.picture img{
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    border: 3px solid #d6ad18;
}

.info{
    color: var(--jaune);
    font-size: 2vw;
    background-color: var(--grisFonce);
    text-align: center;
  }

.blockinfo ul{
    list-style-type: circle;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2vw;
}

.side_bar li{
    list-style: none;
}

.sidebartitle{
    font-size: 1.2vw;
    padding-bottom: 15px;
}

.sidebarinfo{
    font-size: 1vw;
    word-wrap: break-word;
    padding-bottom: 15px;
    
}

.sidebarpropos
{
    font-size: 1vw;
    word-wrap: break-word;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

.sidebarint{
    font-size: 1.5vw;

}

.fas{
    padding-right: 5%;
}

.container_int{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.container_int li{
    padding-bottom: 15px;
    display: inline;
}


/* CONTENU */
.contenu{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    background-color: white;
    height: auto;
}



.tete{
    padding-top: 50px;
    padding-left: 5%;
}

.black_divider_name{
    width: 15%;
    height: 2px;
    background: var(--jaune);
    margin-bottom: 40px;
  }

.name{
    font-size: 2.5vw;
}


.projet{
    font-size: 1.5vw;
}

.black_divider{
    float: right;
    width: 90%;
    height: 2px;
    background: var(--jaune);
  }

.exp{
    display: inline;
    padding-left: 10%;
    font-size: 1.5vw;
    margin-top: 70px;
  }

.formation{
    display: inline;
    padding-left: 10%;
    font-size: 1.5vw;
    margin-top: 70px;
  }


.comp{
    display: inline;
    padding-left: 10%;
    font-size: 1.5vw;
    margin-top: 70px;
  }

.recom{
    display: inline;
    padding-left: 10%;
    font-size: 1.5vw;
    margin-top: 70px;
  }


.date{
    float: left;
    padding-left: 10%;
    width: 30%;
}

.an{
    font-size: 1.25vw;
}

.ville{
    font-style: italic;
    font-size: 1vw;
    padding-left: 14%;
}

.tache{
    font-size: 1.25vw;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 20px;
    padding-left: 5%;
}

.container_comp{
    padding-left: 10%;
    font-size: 1vw;
    margin-top: 20px;
}

.block_comp{
    display: inline-block;
    margin-right: 5%;
    font-size: 1vw;
    text-align: center;
}

.block_comp img{
    width: 25px;
	height: 25px;
}

.persreco{
    margin-right: 5%;
    margin-top: 20px;
    padding-bottom: 70px;
    font-size: 1.25vw;
    text-align: center;
}

.persreco_1{
    float: left;
    padding-left: 10%;
    margin-bottom: 50px;
}

.persreco_2{
    float: right;
    padding-right: 10%;
    margin-bottom: 50px;
}

}

@media (max-width: 960px) {
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
     }

     .fas{padding-right: 15px;vertical-align: middle;}
     
     /* SIDE BAR */
     .side_bar{
         width: 100%;
         height: auto;
         background-color: var(--jaune);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     
     .picture{
         margin-top: 10px;
         text-align: center;
         padding-bottom: 20px;
     }
     
     .picture img{
         border-radius: 50%;
         width: 50vw;
         height: 50vw;
         border: 3px solid #d6ad18;
     }
     
     .info{
         color: var(--jaune);
         font-size: 4.5vw;
         background-color: var(--grisFonce);
         text-align: center;
       }
     
     .side_bar li{
         list-style: none;
     }
     
     .sidebarinfo{
         font-size: 3.5vw;
         padding-bottom: 15px ;
         word-wrap: break-word;
     }

     .sidebarpropos{
        font-size: 3.5vw;
        word-wrap: break-word;
        padding-bottom: 15px;
        padding-left: 5%;
        padding-right: 5%;
    }
     
     .interets{
         color: #424242;
         font-size: 4vw;
         background-color: #E0E0E0;
         text-align: center;
         text-decoration: underline;
         font-family: 'Anton', sans-serif;
       }
     
     .sidebarint{
         visibility: hidden;
         font-size: 0px;
     }

    .container_int{
        display: flex;
        justify-content: space-around;
    }
     
     /* CONTENU */
     .contenu{
        width: 100%;
    }
    
    .tete{
        padding-top: 50px;
        padding-left: 5%;
    }
    
    .black_divider_name{
        width: 20%;
        height: 2px;
        background: var(--jaune);
        margin-left: 20%;
        margin-bottom: 30px;
      }
    
    .name{
        font-size: 5vw;
    }
    
    
    .projet{
        font-size: 2.5vw;
        font-style: italic;
    }
    
    .black_divider{
        width: 80%;
        height: 2px;
        background: var(--jaune);
        margin: auto;
        margin-bottom: 15px;
      }
    
      .exp{
        display: inline;
        font-size: 4vw;
        margin-top: 70px;
      }
    
    .formation{
        display: inline;
        font-size: 4vw;
      }
    
    
    .comp{
        display: inline;
        font-size: 4vw;
      }

    .recom{
        display: inline;
        font-size: 4vw;
        margin-top: 70px;
      }
     
      .blocksection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

     .an{
         font-size: 3vw;
     }
     
     .ville{
         font-style: italic;
         font-size: 2.75vw;
         padding-bottom: 30px;
     }
     
     .tache{
         font-size: 3vw;
         padding-bottom: 50px;
         padding-left: 5%;
         padding-right: 5%;
     }

     .container_comp{
         text-align: center;
     }
     
     .block_comp{
         display: inline-block;
         margin-right: 5%;
         margin-bottom: 50px;
         font-size: 3vw;
         text-align: center;
     } 
     
     .persreco{
        margin-right: 5%;
        margin-top: 20px;
        padding-bottom: 70px;
        font-size: 3vw;
        text-align: center;
    }
    
    .persreco_1{
        float: left;
        padding-left: 10%;
        margin-bottom: 50px;
    }
    
    .persreco_2{
        float: right;
        padding-right: 10%;
        margin-bottom: 50px;
    }
}
